.DS_Store
.env
.env.*
!.env.example
.nx/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
coverage/
dist/
node_modules/
*.sqlite
*.sqlite3
*.sqlite-wal
*.sqlite-shm
*.db
*.db-wal
*.db-shm
